h2 {
  margin: 0.5em 0 0.1em;
}
.clamp-me {
  box-sizing: border-box;
  outline: 1px dashed red;
  height: 200px;
  max-width: 800px;
  padding: 5px 25px 10px 80px;
  line-height: 18px;
}
.clamp-me.-max-height {
  overflow: hidden;
  height: unset;
  max-height: 100px;
}
